<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile page</title>
  </head>
  <body>
    <%- include('common/header');%>

    <h1>Data:</h1>
    <h3>Name:<%=data[0].name%></h3>
    <h3>Email:<%= data[0].email%></h3>
    <h3>
      Skills

      <ul>
        <% data[0].skills.forEach((item)=>{ %>
        <li><%=item%></li>
        <% }) %>
      </ul>
    </h3>
  </body>
</html>
